Now I have the fund return data and factor data, so I can regress fund returns on factors.

In [11]:
using DataFrames
using CSV

fund_data = CSV.read("../../data/transformed/mutual-funds/local-rets/mf_irl-bra.csv", DataFrame, select=[:fundid, :date, :ret_gross_m, :domicile, :fund_flow])
factor_data = CSV.read("../../data/prepared/equities/equity_factors.csv", DataFrame)
market_data = CSV.read("../../data/transformed/equities/global_MKT.csv", DataFrame);

In [12]:
first(fund_data, 5)

5×5 DataFrame
 Row │ fundid      date        ret_gross_m  domicile  fund_flow
     │ String15    Date        Float64?     String3   Missing
─────┼──────────────────────────────────────────────────────────
   1 │ FS00008KZU  2012-06-01      1.53883  BRA         missing
   2 │ FS00008KZU  2012-07-01      2.91596  BRA         missing
   3 │ FS00008KZU  2012-08-01     -0.10734  BRA         missing
   4 │ FS00008KZU  2012-09-01      1.65586  BRA         missing
   5 │ FS00008KZU  2012-10-01      0.89174  BRA         missing

In [9]:
first(factor_data, 5)

5×6 DataFrame
 Row │ date        SMB          HML          CMA          RMW           WML
     │ Date        Float64      Float64      Float64      Float64       Float64
─────┼───────────────────────────────────────────────────────────────────────────────
   1 │ 1951-11-30  -0.00586067  -0.00417325  -0.0122075    0.00828911    0.000671433
   2 │ 1951-12-31  -0.0234461   -0.0309437   -0.045466     0.0201345     0.0194914
   3 │ 1952-01-31  -0.00315598   0.0123607    0.00932839  -0.0126234     0.00828151
   4 │ 1952-02-29   0.00490916   0.0128583    0.0124407    0.000170562  -0.00542739
   5 │ 1952-03-31  -0.0179922    0.00023287  -0.00875699   0.012053      0.013867

In [10]:
first(market_data, 5)

5×4 DataFrame
 Row │ cur_code  date        mkt          rf
     │ String3   String15    Float64?     Float64?
─────┼───────────────────────────────────────────────
   1 │ AED       30/06/1995   0.00102661  0.00469942
   2 │ AED       31/07/1995   0.171515    0.00449951
   3 │ AED       31/08/1995  -0.0714473   0.00469949
   4 │ AED       30/09/1995   0.0803023   0.0043
   5 │ AED       31/10/1995  -0.0788058   0.00469981