Testing for missing values of market index

In [2]:
using DataFrames
using CSV

data = CSV.read("../../data/transformed/equities/global_MKT_gross.csv", DataFrame);

13420×3 DataFrame
   Row │ cur_code  date        mkt_gross
       │ String3   Date        Float64
───────┼───────────────────────────────────
     1 │ AED       1995-06-30   0.00572604
     2 │ AED       1995-07-31   0.176015
     3 │ AED       1995-08-31  -0.0667478
     4 │ AED       1995-09-30   0.0846023
     5 │ AED       1995-10-31  -0.074106
     6 │ AED       1995-11-30   0.10215
     7 │ AED       1995-12-31   0.103751
     8 │ AED       1996-01-31   0.0630619
   ⋮   │    ⋮          ⋮            ⋮
 13414 │ ZAR       2021-06-30   0.111262
 13415 │ ZAR       2021-07-31  -0.0580972
 13416 │ ZAR       2021-08-31   0.363922
 13417 │ ZAR       2021-09-30  -0.45315
 13418 │ ZAR       2021-10-31   0.583884
 13419 │ ZAR       2021-11-30  -0.370624
 13420 │ ZAR       2021-12-31   0.513409
                         13405 rows omitted

In [3]:
describe(data)

3×7 DataFrame
 Row │ variable   mean     min         median      max         nmissing  eltype
     │ Symbol     Union…   Any         Any         Any         Int64     DataType
─────┼────────────────────────────────────────────────────────────────────────────
   1 │ cur_code            AED                     ZAR                0  String3
   2 │ date                1926-01-31  2003-05-31  2022-12-31         0  Date
   3 │ mkt_gross  1.76347  -4709.91    0.0272851   4375.77            0  Float64